<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{productName}} email changed</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Your {{productName}} email has been changed</h1>
    <p>We're writing to let you know that your {{productName}} email has been changed.</p>
    <p>
      If you changed your email address, then you can safely ignore this. But if you did not change your email address,
      then please contact support immediately.
    </p>
    <p>Your Account ID: {{userId}}</p>
    <p style="text-align: start">Best,<br /><strong>{{productName}}</strong> Team</p>
  </body>
</html>
