<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{productName}} Password Reset</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <p>
      Hi there,<br /><br />Here is your verification code:<br />
      <strong><span style="color: rgb(5, 150, 105)">{{otp}}</span></strong>
    </p>
    <p>or click this link:<br /><span style="color: rgb(79, 70, 229)">{{verifyUrl}}</span></p>
    <p style="text-align: start">Best,<br /><strong>{{productName}}</strong> Team</p>
  </body>
</html>
