<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Invite to join {{team}} on {{productName}}</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <h2>You have been invited to join {{team}} on {{productName}}</h2>
    <p>Hi there,</p>
    <p>We're writing to let you know that you have been invited to join {{team}} on {{productName}}.</p>
    <p>Use the link below to accept the invite:</p>
    <p>{{invite}}</p>
    <p style="text-align: start">Best,<br /><strong>{{productName}}</strong> Team</p>
  </body>
</html>
